body.landing {
  width: 100%;
  height: 100%;
  background-color: #231f20;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-direction: column;

  h1 {
    font-family: $oswald;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    line-height: 49px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
  }

  .text {
    max-width: 700px;
    color: white;
    font-size: 19px;
    line-height: 38px;
    letter-spacing: .5px;
    font-family: $roboto;
    font-weight: 400;
    padding: 20px;
    background-color: darken(#231f20, 2%);
    border-radius: 10px;

    @media (min-width: 768px) {
      padding: 40px 60px;
    }
  }
}
