body.landing {
  background-color: #231f20;

  @media (min-width: 720px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h1 {
    font-family: $oswald;
    font-weight: 900;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 38px;
    line-height: 49px;
    letter-spacing: 0.5px;
    margin-bottom: 30px;
    width: 100%;
    padding: 40px 20px 0 20px;
  }

  .text {
    width: 100%;
    max-width: 680px;
    color: white;
    font-size: 19px;
    line-height: 38px;
    letter-spacing: .5px;
    font-family: $roboto;
    font-weight: 400;
    padding: 20px 20px 50px 20px;
    background-color: darken(#231f20, 2%);
    border-radius: 10px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 40px 60px;
    }
  }
}
